.section{
  @extend %centered;
  margin-bottom: 2em;
  @media only screen and (min-width: $break-large){
    width: 29%;
    float: left;
    margin-right: 1.7%;
    margin-left: 1.7%;
  }
  @media only screen and (min-width: $break-small){
    width: 30%;
    float: left;
    margin: 1em 1em;
  }
}
